<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL_DAL.Properties.Settings.QL_NHAHANGConnectionString"
            connectionString="Data Source=LAPTOP-GDJOSL0P\MANPHAM;Initial Catalog=QL_NHAHANG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QL_NHAHANGConnectionString1"
            connectionString="Data Source=LAPTOP-GDJOSL0P\MANPHAM;Initial Catalog=QL_NHAHANG;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QL_NHAHANGConnectionString2"
            connectionString="Data Source=LAPTOP-GDJOSL0P\MANPHAM;Initial Catalog=QL_NHAHANG;Persist Security Info=True;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QL_NHAHANGConnectionString3"
            connectionString="Data Source=LAPTOP-GDJOSL0P\MANPHAM;Initial Catalog=QL_NHAHANG;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QL_NHAHANGConnectionString4"
            connectionString="Data Source=DESKTOP-HHM5LAU;Initial Catalog=QL_NHAHANG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>